
@model ThisIsIt.Models.ViewModels.LoginModel

<div class=" container col-5 pt-4">

<div class="card ">
    <div class="card-header"style="color:white;background-color:gray">
     Login Form
    </div>
    <div class="card-body">
        <div class="row-5">
        <form method="post">
            <div class="col mb-3">
            <label for="">Email</label>
            <input type="email" placeholder="example@gmail.com"  asp-for="Email" class="form-control"/>
                    </div>
                    <div class="col mb-3">
                        
            <label for="">Password</label>
                        <input type="password" placeholder="Enter the password" asp-for="Password"class="form-control" />
                    </div>
               

                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="checkboxId">
                                    <label class="form-check-label" for="checkboxId">
                                        Keep Logged In 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
<br/>
                    <div>

                   <input type="submit" class="btn btn-primary me-2" value="Sign In"/>
                    <a asp-controller="FireSpirit" asp-action="Firstpage" class="btn btn-secondary" >GoBack</a><br />

                    @if(ViewData["ValidateMessage"]!=null)
                        {
                            <br/>
                            <br/>
                            {
                                // Retrieve the ValidateMessageColor from ViewData
                                var validateMessageColor = ViewData["ValidateMessageColor"] as string;


                                <span style="color: @validateMessageColor;">@ViewData["ValidateMessage"]</span>
                            }
                        }
                    </div>

                </form>
        </div>
    </div>
</div>
</div>